body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;

}



.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
    top: -55px;
    z-index: 1;
    padding-bottom: 20px;
}

.navbar {
    z-index: 2;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        margin-bottom: 20%;
    }

    .login-form{
        margin-top: 30%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    text-decoration-color: white;
    background-color: #000 !important;
    color: #fff;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-black:hover {
    color: #ffffff;
}

.img {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto
}

.btn-button {
    margin-top: 15px;
}

.navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
}

.navbar .dropdown-menu .dropdown-item:focus,  .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
}

.navbar .dropdown-menu .dropdown-item:focus,  .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
}

.footer {
    /*position: absolute;*/
    left:0;
    height:15px;
    line-height: 0px;
    bottom:0;
    width:100%;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    /*text-anchor: end;*/
    background-color: transparent;
    text-decoration-color: black;
    z-index: 3;
    margin-bottom: 0;
    /*margin-top: -100px;*/
}

.main-footer {
    position: absolute;
}

.btn-width {
    min-width: 220px;
    max-width: 220px;
}

